<section class="row">
  <div class="col-md-6 mt-3 p-5 m-auto">
    <img src="/images/brave.png" width="100" alt="">
    <h3 class="my-3">Add Products</h3>
    <form action="/products/addproducts" method="POST">
      <label for="">Product Name</label>
      <input type="text" name="pname" id="name" class="form-control" />
      <label for="">Descripton</label>
      <textarea name="pdesc" id="body" class="form-control"></textarea>
      <label for="">Product Price</label>
      <input type="text" name="pamount" id="amount" class="form-control" />
      <button type="submit" class="btn btn-success mt-2">Add <i class="fa-solid fa-paper-plane"></i></button>
    </form>
  </div>
</section>