<section class="container mt-5">
    <div class="row">
        <div class="col-md-6 mt-5 m-auto">
            <h2>Login</h2>
            <form action="" method="post">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control">
                <button type="submit" class="btn btn-success mt-4">login</button>
            </form>
        </div>
    </div>
</section>